{% extends 'base.html.twig' %}
{% trans_default_domain 'login' %}

{% block title %}{{ 'Log in!'|trans }}{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                {{ 'You are logged in as %username%, <a href="%link.logout%">%link.logout.text%</a>'|trans({
                    '%username%': app.user.userIdentifier,
                    '%link.logout': path('tgc_logout'),
                    '%link.logout.text%': 'Logout'|trans
                }) }}
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">{{ 'Please sign in'|trans }}</h1>
        <label for="username">{{ 'Email'|trans }}</label>
        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
        <label for="password">{{ 'Password'|trans }}</label>
        <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mb-3">
            <input type="checkbox" name="_remember_me" id="_remember_me">
            <label for="_remember_me">{{ 'Remember me'|trans }}</label>
        </div>

        <button class="btn btn-lg btn-primary" type="submit">
            {{ 'Sign in'|trans }}
        </button>
    </form>
{% endblock %}
